<br><br>
<h2>Activities</h2><br>
<%= f.fields_for :activities do |a| %>
    <%= a.label :time %>
    <%= a.time_field :time %>
    <%= a.label :description %>
    <%= a.text_field :description %>
    <% if a.object.persisted? %>
      <%= a.check_box :_destroy %>
      <%= a.label :_destroy, "Remove" %>
    <% end %>
    <br><br>
    
<% end %>