<h1> Itineraries</h1>

<% @itineraries.each do |itinerary| %>
    <%= link_to itinerary.date.strftime("%A, %b %e, %Y"), destination_itinerary_path(@destination, itinerary) %>
        <% itinerary.activities.each do |activity| %>
        <li><%= activity.time.strftime("%l:%M %p") %>
        <%= activity.description %></li>
    <% end %><br>
<% end %>


<%= link_to "See all Trips", destinations_path %>
<br><%= link_to "Create New Itinerary", new_destination_itinerary_path %>
<%= link_to "Delete This Trip", destroy_all_destination_itineraries_path(@destination), method: :delete, data: {confirm: 'Are you sure?'} %>