<h1> <%= @destination.city %> Trip</h1>

<br>

<% @itineraries.each do |itinerary| %>
    <%= link_to display_date(itinerary), destination_itinerary_path(@destination, itinerary) %>
        <% itinerary.activities.sort_by{|act| act.time}.each do |activity| %>
        <li><%= display_time(activity) %>
        <%= activity.description %></li>
    <% end %><br>
<% end %>


<%= link_to "See all Trips", destinations_path %>
<br><%= link_to "Create New Itinerary", new_destination_itinerary_path %>
<%= link_to "Delete This Trip", destroy_all_destination_itineraries_path(@destination), method: :delete, data: {confirm: 'Are you sure?'} %>