<h1> Create an Itinerary for Your Trip</h1>

<%= render partial: "destinations/errors", locals: {object: @itinerary} %>

<%= form_with model: [@destination, @itinerary] do |f| %>
    <%= f.hidden_field :destination_id, value: @destination.id %>
    <%= f.label :date %>
    <%= f.date_field :date %>
    
    <%= render partial: "form", locals: {f: f} %>

    <%= f.submit 'Submit' %>
<% end %>