<h1>Login</h1>

<br>

<%= form_with url: login_path do |f| %>
    
    <%= render partial: "form", locals: {f: f} %>

    <%= f.submit 'Login' %>
<% end %>

<%= render partial: "users/google_oauth" %>
<br>
<%= link_to "Don't have an account? Signup Here!", signup_path %>
