<h1>Create an Account</h1>

<br><br>

<%= render partial: "destinations/errors", locals: {object: @user} %>

<%= form_with url: signup_path do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %> <br><br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %> <br><br>
    <%= render partial: "sessions/form", locals: {f: f} %>
    <%= f.submit 'Create Account' %>
<% end %>

<%= render partial: "google_oauth" %>
<br>
<%= link_to "Already have an account? Login Here!", login_path %>