<h1>Top Destinations</h1>

<% @top_destinations.each do |destination| %>
  <li><%= destination.city %>
<% end %>

<h1>Enter a Destination</h1>

<% if @destination.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @destination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- allow users to select from existing locations (drop down select) -->

<%= form_with model: @destination do |f| %>
    <%= f.collection_select :destination_id, Destination.all, :id, :city, include_blank: true %><br>
    <%= f.label :city %>
    <%= f.text_field :city %> <br>
    <%= f.label :state %>
    <%= f.text_field :state %> <br>
    <%= f.label :country %>
    <%= f.text_field :country %> <br>
    <%= f.submit 'Submit' %>
<% end %>
