<h1>This is your new destination's show page</h1>

<%= @destination.city %><br>
<%= @destination.state %><br>
<%= @destination.country %><br>

<% @destination.itineraries.each do |itinerary| %>
    <li><%= link_to itinerary.date,  destination_itinerary_path(@destination, itinerary) %></li>
<% end %>

<%= link_to "Create New Itinerary", new_destination_itinerary_path(@destination) %><br>
<%= link_to "Delete This Trip", {action: :destroy, id: @destination.id}, method: :delete, data: {confirm: 'Are you sure?'} %>